{% extends 'layout.html' %}

{% block content %}
    <legend class="border-bottom mb-4">{{ legend }}</legend>
    <table id="battle" class="table table-hover">
        <thead>
            <tr class="row">
                <th class="col-1" scope="col"/>
                <th class="col-5" scope="col">{{ stats.current_name }}</th>
                <th class="col-1" scope="col"/>
                <th class="col-5" scope="col">{{ stats.opponent_name }}</th>
            </tr>
            <tr class="row">
                <td class="col-1"/>
                <td class="col-5"><div class="stats">HP: <span id="current_hp">{{ stats.current_hp[0]}}/{{ stats.current_hp[1] }}</span> ATK: {{ stats.current_ADS[0] }} DEF: {{ stats.current_ADS[1] }} SPD: {{ stats.current_ADS[2] }}</div></td>
                <td class="col-1"/>
                <td class="col-5"><div class="stats">HP: <span id="opponent_hp">{{ stats.opponent_hp[0]}}/{{ stats.opponent_hp[1] }}</span> ATK: {{ stats.opponent_ADS[0] }} DEF: {{ stats.opponent_ADS[1] }} SPD: {{ stats.opponent_ADS[2] }}</div></td>
            </tr>
        </thead>
        <tbody class="overflow-auto">
            {% for event in events %}
            <tr class="row">
                <td class="col-1 text-end"><div>{{ event[0] }}</div></td>
                <td class="col-5"><div>{{ event[1] }}</div></td>
                <td class="col-1 text-end"><div>{{ event[0] }}</div></td>
                <td class="col-5"><div>{{ event[2] }}</div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div id="controls" class="">
    <div id="btn_attack" class="btn btn-xl btn-info btn-outline-light">Attack</div>
    <a href="{{ url_for('pick_pokemon') }}" class="btn btn-xl btn-info btn-outline-light">Swap Pokemon</a>
    <a href="{{ url_for('forfeit') }}" id="btn_forfeit" class="btn btn-xl btn-info btn-outline-light" onclick="return confirm('Are you sure to forfeit the fight?')">Forfeit</a>
</div>
{% endblock %}